.SMALL {
  width: 230px;
  transition: 0.2s;
  transform: scale(1);
  cursor: pointer;

  .date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .type p {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title p {
    margin-top: 8px;
  }
}

.BIG {
  width: 100%;

  //.date {
  //  margin-left: auto;
  //}

  .header {
    display: flex;
    align-items: center;
  }

  .username {
    margin-left: 8px;
  }

  .title {
    margin-top: 8px;
  }

  .img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin: 16px;
  }

  .textBlock {
    max-height: 200px;
    overflow-y: hidden;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
