:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #07073f;
    --primary-color: #184de9;
    --secondary-color: #0449e0;
    --inverted-primary-color: #038303;
    --inverted-secondary-color: #48e348;
}
