.Loader {
  width: 80px;
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 15deg, #0000, #eeb8b8);
  animation: l26 1s infinite steps(12);
}

.Loader,
.Loader::before,
.Loader::after {
  background: radial-gradient(
                  closest-side at 50% 12.5%,
                  var(--inverted-bg-color) 96%,
                  #0000
  ) 50% 0/20% 80% repeat-y,
  radial-gradient(
                  closest-side at 12.5% 50%,
                  var(--inverted-bg-color) 96%,
                  #0000
  ) 0 50%/80% 20% repeat-x;
}

.Loader::before,
.Loader::after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.Loader::after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}
